@using UyumsoftProje2.Models
@model KATEGORI

@{
    ViewBag.Title = "Anasayfa";
}


<div class="container">
    <h2>Kitap Sever</h2>
    <p>
        Kitap Severe'e üye olun ve istediğiniz kitabı satın alma fırsatı edinin!
    </p>
    <p>
        Kitap Severe'e üye olun ve istediğiniz kitabı satma fırsatı edinin!
    </p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/Kitap/Index" target="_self">
                        <img src="~/Contents/img/kitap.jpg" alt="Lights">
                        <div class="caption">
                            <p>Kitaplar</p>
                        </div>
                    </a>
                </div>
            </div>
    </div>
</div>


